ws/ISPPasswordResetService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ISPPasswordReset" targetNamespace="http://www.telkom.co.za/ISPPasswordReset/" xmlns:tns="http://www.telkom.co.za/ISPPasswordReset/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.telkom.co.za/ISPPasswordReset/">
      <xsd:element name="ISPPasswordReset">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="ISPPasswordResetRequest" type="tns:ISPPasswordResetRequestType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ISPPasswordResetResponse">
        <xsd:complexType>
          <xsd:sequence>

          	<xsd:element maxOccurs="1" minOccurs="1" name="MessageID" type="xsd:string">
          	</xsd:element>
          	<xsd:element maxOccurs="1" minOccurs="0" name="Username" type="xsd:string">
          	</xsd:element>
          	<xsd:element maxOccurs="1" minOccurs="0" name="Tin" type="xsd:string"/>
          	<xsd:element maxOccurs="1" minOccurs="1" name="ResultCode" type="xsd:string">
          	</xsd:element>
          	<xsd:element maxOccurs="1" minOccurs="0" name="ResultMsgCode" type="xsd:string">
          	</xsd:element>
          	<xsd:element maxOccurs="1" minOccurs="0" name="ResultMsg" type="xsd:string">
          	</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

        <xsd:complexType name="AdditionalMSISDN">
          <xsd:sequence>
          	<xsd:element maxOccurs="1" minOccurs="1" name="MSISDN" type="xsd:string">
          	</xsd:element>
      	  </xsd:sequence>
       </xsd:complexType>
            
      <xsd:complexType name="ISPPasswordResetRequestType">
      	<xsd:sequence>
      		<xsd:element maxOccurs="1" minOccurs="0" name="Username" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="Tin" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="1" name="ServiceType" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="MSISDN" type="xsd:string">
      		</xsd:element>
      		<xsd:element maxOccurs="unbounded" minOccurs="0" name="AdditionalMSISDN" type="tns:AdditionalMSISDN">
      		</xsd:element>
      		<xsd:element maxOccurs="1" minOccurs="0" name="Password" type="xsd:string"/>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISPPasswordResetRequest">
    <wsdl:part name="parameters" element="tns:ISPPasswordReset">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ISPPasswordResetResponse">
    <wsdl:part name="parameters" element="tns:ISPPasswordResetResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ISPPasswordResetPortType">
    <wsdl:operation name="ISPPasswordReset">
      <wsdl:input message="tns:ISPPasswordResetRequest">
    </wsdl:input>
      <wsdl:output message="tns:ISPPasswordResetResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISPPasswordResetSOAP" type="tns:ISPPasswordResetPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ISPPasswordReset">
      <soap:operation soapAction="http://www.telkom.co.za/ISPPasswordReset/ISPPasswordReset"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISPPasswordResetService">
    <wsdl:port name="ISPPasswordResetServicePort" binding="tns:ISPPasswordResetSOAP">
      <soap:address location="http://localhost:8080/axis2/services/ISPPasswordReset"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
